<html> 
<head>
  <title>orgtop admin</title>
</head>
<body>
  <h1>orgtop admin</h1>
  <p>This is the front page for NUS Hackers's orgtop app. You should probably <a href='/login'>login</a>.</p>
</body>
</html>
