<html>
  <head>
    <title>Login to orgtop</title>
  </head>
  <body>
  <h2>Login, you slimey curr!</h2>
  <form action='/login' method='post'>
    <label>Username:</label><br/>
    <input type='text' name='username' value='' /><br/>
    <label>Password:</label><br/>
    <input type='password' name='password' value='' /><br/>
    <input type='submit' value='Create' />
  </form>
  </body>
</html>
