<html>
  <head>
    <title>Users</title>
  </head>

  <body>
    <h1>Users</h1>
    <ul>
      <% @users.each do |user| %>
        <li>
        <strong><%= user.name %></strong> (<em><%= user.email %></em>) role: <strong><%= user.role %></strong> || <a href="/users/edit/<%= user.username %>">EDIT</a>
      </li>
    <% end %>
    </ul>

      <hr/>
      <h3>New User</h3>
    <form action="/users/new" method="post">
      <label>Name:</label><br/>
      <input type='text' name='name' value='' /><br/>
      <label>Username (___@nushackers.org):</label><br/>
      <input type='text' name='username' value='' /><br/>
      <label>Email:</label><br/>
      <input type='text' name='email' value='' /><br/>
      <label>Role:</label><br/>
      <input type='text' name='role' value='' /><br/>
      <input type='submit' value='Create'>
    </form>
  </body>
</html>
