<html>
  <head>
    <title>Users</title>
  </head>

  <body>
    <h1>Users</h1>
    <ul>
      <% @users.each do |user| %>
        <li>
        <strong><%= user.name %></strong> (<em><%= user.email %></em>) role: <strong><%= user.role %></strong>
      </li>
    <% end %>
    </ul>

    <form>
      
    </form>
  </body>
</html>
